@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


/* -------main-------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -----------Nav styles-------------- */
.nav-cont {
    display: flex;
    justify-content: space-around;
}

.influ a {
    text-decoration: none;
    color: black;
}

.nav-ot a {
    text-decoration: none;
    color: black;
    margin: 10px;
}



/* -----------display styles-------------- */
.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 21px;

}

.cont-design {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cont-design img {
    margin-left: 80px;
}

.text-title h1 {
    font-size: 40px;
}

.text-title button {

    border: none;
    color: white;
    border-radius: 41px;
    padding: 10px 24px;
    background-color: #E02C6D;
}

.arrow-icon {
    margin-left: 10px;
}


/* --------Company logo--------- */
.container-com {
    margin-top: 70px;
}

.com-logo {
    text-align: center;

}

.com-logo img {
    margin: 10px;
}

hr {
    color: rgb(218, 218, 218);

}