@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* -------main-------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -----------Nav styles-------------- */
.nav-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.influ a {
    text-decoration: none;
    color: black;
}

.nav-ot a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 18px;
}



/* -----------display styles-------------- */
.container {
    /* background-color: #FFFFFF; */
    width: 870px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 21px;

}

.cont-design {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cont-design img {
    margin-left: 80px;
}

.text-title h1 {
    font-size: 40px;
}

.text-title button {

    border: none;
    color: white;
    border-radius: 41px;
    padding: 10px 24px;
    background-color: #E02C6D;
}

.arrow-icon {
    margin-left: 10px;
}


/* --------Company logo--------- */
.container-com {
    margin-top: 70px;
}

.com-logo {
    text-align: center;

}

.com-logo img {
    margin: 10px;
}

hr {
    color: rgb(218, 218, 218);

}

/* populer Container Card styles */
.container-card {
    margin-top: 12%;
}

#card-h {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {

    width: 300px;
    border: 2px solid salmon;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    color: rgb(75, 65, 65);
}

.card img {
    width: 300px;
}

.seemore a {
    text-decoration: none;
}

.seemore {
    margin-top: 20px;
    text-align: right;
}


/* Featured products at one place */

.fet-container {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 90px;
    justify-content: center;
    align-items: center;



}

.fet-card {
    font-size: 25px;
    width: 50%;
    padding-left: 5%;
}

.fet-card h1 {
    font-size: 40px;
}

.fet-card img {
    width: 80%;
}

.fet-card button {
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
    padding: 10px 20px;
}

/* -------footer-------- */

.footer {

    height: 150px;
    color: #FFFFFF;
    background-color: rgb(5, 5, 54);
    text-align: center;
}

.footer-text {
    margin-top: 70px;
}

.social-icon {
    margin-top: 30px;
}